<h2>Страны</h2>

<form class="form-inline create-country" ng-model="newCountry">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" id="countryName" placeholder="Russia" ng-model="newCountry.name" >
    </div>
  </div>
  <button ng-click="addCountry()" class="btn btn-primary">Add country</button>
</form>


<div class="row countries-list" ng-repeat="country in countries">
	<form class="form-inline" ng-show="showForm[$index]" ng-model="country">
	  <div class="form-group">
	    <div class="input-group">
	      <input type="text" class="form-control" id="countryName" ng-model="country.name" value="{{country.name}}" />
	    </div>
	  </div>
	  <button type="submit" ng-click="saveCountry(country, $index)" class="btn btn-primary">Save</button>
	  <button type="submit" ng-click="showForm[$index]=false" class="btn btn-default">Cancel</button>
	</form>

	<div class="country-data" ng-hide="showForm[$index]">
		<div class="col-md-4"> {{ country.name }} </div>
		<div class="col-md-2"> 
			<a href="#" ng-click="showForm[$index]=true">Edit</a>
			<a href="#" ng-click="deleteCountry(country, $index)">Delete</a>
		</div>
	</div>
</div>